* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  
  li {
    list-style-type: disc; }
  
  body {
    background: #0284ff;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 1.1rem; }
  
  .header {
    display: flex;
    margin-bottom: -3px;
    font-size: 1.5rem;
    color: #000;
    width: 70%; }
    .header a,
    .header i {
      cursor: pointer;
      text-decoration: none;
      color: #000; }
      .header a:hover,
      .header i:hover {
        color: #0284ff; }
  
  .body_cv {
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px #000; }
  
  .div-padrao {
    width: 90%; }
  
  .linha {
    height: 2px;
    width: 90%;
    background-color: #000; }
  
  .body_header {
    width: 100%; }
    .body_header .title {
      margin-right: 10px;
      color: #000;
      text-transform: uppercase; }
      .body_header .title h1 {
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: -1px; }
      .body_header .title h2 {
        font-size: 2rem;
        font-weight: 800; }
    .body_header .contact {
      flex-direction: column; }
      .body_header .contact a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem; }
        .body_header .contact a:hover {
          color: #4e4e4e; }
      .body_header .contact i {
        font-size: 1.3rem;
        margin-right: 4px; }
      .body_header .contact p {
        color: #000;
        font-size: 1.2rem; }
  
  .body_skills {
    flex-direction: column;
    margin-top: 8px; }
    .body_skills ul {
      display: flex; }
      .body_skills ul div {
        margin-right: 100px; }
  
  .experience {
    margin-top: 8px;
    flex-direction: column; }
  
  .education .education_align {
    flex-direction: column; }
  .education p {
    font-weight: bold; }
  
  .languages li {
    margin-bottom: -1px; }
  
  @media screen and (max-width: 767px) {
    .header,
    .body_cv {
      width: 90%; }
  
    .body_header {
      flex-direction: column; }
      .body_header .title h1, .body_header .title h2 {
        font-size: 1.6rem; }
      .body_header .contact {
        margin-bottom: 20px; }
        .body_header .contact a, .body_header .contact i, .body_header .contact p {
          font-size: 1.3rem; }
  
    .body_skills ul {
      flex-direction: column; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header,
    .body_cv {
      width: 90%; } }
  